# Python virtual environment
backend/.venv/

# Python cache files
__pycache__/
*.pyc

# Environment / secrets
.env

# Node / React dependencies
node_modules/

# Build output
dist/

# VS Code settings
.vscode/